[Unit]
Description=Rack Agent - Hardware Discovery and Provisioning
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service
Requires=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/rack-agent
# StandardInput=tty
StandardOutput=journal+console
StandardError=journal+console
TimeoutStartSec=300

[Install]
WantedBy=rack-agent.target
