[Unit]
Description=Reboot after Rack Agent completes
After=rack-agent.service

[Service]
Type=oneshot
ExecStart=sleep 5
ExecStart=/usr/bin/systemctl --force reboot

[Install]
WantedBy=rack-agent.target
